name: Granja Animales Node.js CI

on:
  push:
    branches: [ "main", "feat-nuevoanimal" ]
  pull_request:
    branches: [ "main", "feat-nuevoanimal" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'
    - run: yarn
    - run: yarn test
